<div class="container">
  <div class="row mt-1">
    <div class="col-12">
      <div class="header-bar">
        <h2 class="mb-3">DASHBOARD</h2>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4  mt-2">
    <!-- In Progress Tasks -->
    <div class="col">
      <div class="card bg-white shadow-sm">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="card-title text-lg fw-bold">In Progress Tasks</h2>
            <span class="text-primary">
              <mat-icon class="text-primary">description</mat-icon>
            </span>
          </div>
          <p class="text-4xl fw-bold text-primary">5</p> <!-- Replace with actual count -->
        </div>
      </div>
    </div>
  
    <!-- Completed Tasks -->
    <div class="col">
      <div class="card bg-white shadow-sm">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="card-title text-lg fw-bold">Completed Tasks</h2>
            <span class="text-success">
              <mat-icon class="text-success">check_circle</mat-icon>
            </span>
          </div>
          <p class="text-4xl fw-bold text-success">10</p> <!-- Replace with actual count -->
        </div>
      </div>
    </div>
  
    <!-- New Tasks -->
    <div class="col">
      <div class="card bg-white shadow-sm">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="card-title text-lg fw-bold">New Tasks</h2>
            <span class="text-warning">
              <mat-icon class="text-warning">attach_file</mat-icon>
            </span>
          </div>
          <p class="text-4xl fw-bold text-warning">3</p> <!-- Replace with actual count -->
        </div>
      </div>
    </div>
  
    <!-- All Tasks -->
    <div class="col">
      <div class="card bg-white shadow-sm">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="card-title text-lg fw-bold">All Tasks</h2>
            <span class="text-purple">
              <mat-icon class="text-purple">list_alt</mat-icon>
            </span>
          </div>
          <p class="text-4xl fw-bold text-purple ">18</p> <!-- Replace with actual count -->
        </div>
      </div>
    </div>
  </div>
</div>
