<app-loading-spinner *ngIf="is_loading"></app-loading-spinner>
<div class="container">
  <div class="row mt-1">
    <div class="col-12">
      <div class="header-bar">
        <h2 class="mb-3">DASHBOARD</h2>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <!-- In Progress Tasks -->
    <div class="col animate__flipOutX">
      <div class="card bg-white shadow-sm rounded-2 card-task" (click)="openTaskDetails('on progress')">
        <div class="card-body bg-primary">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="card-title text-lg fw-bold text-white">In Progress Tasks</h2>
            <span class="text-primary">
              <mat-icon class="text-white">description</mat-icon>
            </span>
          </div>
          <p class="text-4xl fw-bold text-white">{{taskCounts.onProgress}}</p>
        </div>
      </div>
    </div>
  
    <!-- Completed Tasks -->
    <div class="col animate__flipOutX">
      <div class="card bg-white shadow-sm card-task" (click)="openTaskDetails('done')">
        <div class="card-body bg-success">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="card-title text-lg fw-bold text-white">Completed Tasks</h2>
            <span class="text-success">
              <mat-icon class="text-white">check_circle</mat-icon>
            </span>
          </div>
          <p class="text-4xl fw-bold text-white">{{taskCounts.done}}</p>
        </div>
      </div>
    </div>
  
    <!-- Pending Tasks -->
    <div class="col animate__flipOutX">
      <div class="card bg-white shadow-sm card-task" (click)="openTaskDetails('pending')">
        <div class="card-body bg-warning">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="card-title text-lg fw-bold text-white">Pending Tasks</h2>
            <span class="text-white">
              <mat-icon class="text-white">attach_file</mat-icon>
            </span>
          </div>
          <p class="text-4xl fw-bold text-white">{{taskCounts.pending}}</p>
        </div>
      </div>
    </div>
  
    <!-- All Tasks -->
    <div class="col animate__flipOutX">
      <div class="card bg-white shadow-sm card-task" (click)="openTaskDetails('all')">
        <div class="card-body" style="background-color: purple;">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="card-title text-lg fw-bold text-white">All Tasks</h2>
            <span class="text-white">
              <mat-icon class="" style="color: white;">list_alt</mat-icon>
            </span>
          </div>
          <p class="text-4xl fw-bold text-white">{{taskCounts.all}}</p>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Row for Table and Bar Chart -->
  <div class="row mt-4 animate__slideInUp">
    <!-- Table Column -->
    <div class="col-12">
      <div class="card bg-white shadow-sm ">
        <div class="card-body">
           <!-- Page Size Dropdown -->
        <div class="d-flex justify-content-between mb-3">
          <div>
            <label for="pageSizeSelect">Page Size:</label>
            <select id="pageSizeSelect" class="form-select d-inline-block w-auto ml-2" (change)="onPageSizeChange($event)">
              <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
          <div>
            <!-- <input type="text" class="form-control" placeholder="Search..." (input)="onSearchChange($event)"> -->
          </div>
        </div>
          <h2 class="card-title text-lg fw-bold text-dark">Task Details</h2>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>S.N</th>
                <th>Employee Name</th>
                <th>Task Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let empDetails of taskDetails;let i=index">
                <tr *ngFor="let task of empDetails.taskDetails">
                  <td>{{i+1}}</td>
                  <td>{{ empDetails.employee_name }}</td> <!-- Employee Name -->
                  <td>{{ task.project_name }}</td> <!-- Project Name -->
                  <td>{{ task.start_date | date }}</td> <!-- Start Date -->
                  <td>{{ task.end_date  | date}}</td> <!-- End Date -->
                  <td>
                    <span [ngClass]="getBadgeClass(task.project_status)">{{ task.project_status }}</span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        </div>
         <!-- Pagination Controls -->
         <nav aria-label="Page navigation example" class="mb-3">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" href="javascript:void(0)" (click)="onPageChange(currentPage - 1)" tabindex="-1" aria-disabled="currentPage === 1">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><span class="page-link">Page {{ currentPage }} of {{ totalPages }}</span></li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" href="javascript:void(0)" (click)="onPageChange(currentPage + 1)">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        
      </div>
    </div>

  </div>
  <div class="row">
 
 
    <div class="row">
      <!-- Bar Chart Column -->
      <div class="col-12 col-md-6 mt-4 mb-2">
        <div class="card bg-white shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-lg fw-bold text-black">Task Status Distribution</h2>
            <canvas #taskStatusChart></canvas>
          </div>
        </div>
      </div>
      
      <!-- Pie Chart Column -->
      <div class="col-12 col-md-6 mt-4 mb-2">
        <div class="card bg-white shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-lg fw-bold text-black">Task Status Distribution</h2>
            <canvas #pieChart></canvas>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
